POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=medical_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MONGO_USER=changeme
MONGO_PASSWORD=changeme
MONGO_URI=mongodb://changeme:changeme@mongo:27017/

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=changeme

MONGO_EXPRESS_USER=changeme
MONGO_EXPRESS_PASSWORD=changeme